@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.model-main{
    margin:0;
    padding:0;
    font-family:'Poppins', san-serif;
    height:100vh;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 15px 30px;
    color: black;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: black;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #ffb400;
}

.contact-btn {
    background-color: #ffb400;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
}

.contact-btn:hover {
    background-color: #f39c12;
}

.main{
    display: flex;



}

.card{
    padding:2rem;
    margin:0 1rem;
    text-align:center;
    background:#dedede;
    width:300px;
    border:none;
    border-radius:25px;
    box-shadow:5px 5px #000;
}

.card-img{
    width:40px;
    height:40px;
}

.card-btn{
    padding:8px 16px;
    border:none;
    outline:none;
    border-radius:25px;
    background:black;
    color:white;
    cursor:pointer;
}

.card-btn:hover{
    background:white;
    color:black;
}