@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background:black;

}

.model-main {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    width: 100%;
    background: black;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJavAG3ZcnwUE6e71p-1Jlaz295hPNo1C3CCmoKq-GvNmMUIUSZF2AIkINWUGTsG8q2UM&usqp=CAU') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
   background:black;
    padding: 15px 30px;
    color: white;
    animation:fadeIn 1s ease-in;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: white;
    font-family: 'Poppins', sans-serif;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #ffb400;
}

.contact-btn {
    background-color: #ffb400;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
}

.contact-btn:hover {
    background-color: #f39c12;
}

.main {
    display: flex;
    justify-content: center;
    gap: 2rem;
    animation: fadeIn 1s ease-in-out;
}

.card {
    padding: 2rem;
    margin: 0 1rem;
    text-align: center;
    color: white;
    border: none;
    width: 300px;
    border-radius: 25px;
    box-shadow: 0 4px 5px 2px white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card.highlight {
    transform: scale(1.05);
    width:330px;

    box-shadow: 0 0 15px 5px white;
}

.card-img {
    width: 80px;
    height: 80px;
}

.card-btn {
    padding: 8px 16px;
    border: none;
    outline: none;
    border-radius: 25px;
    border: 1px solid white;
    background: black;
    color: white;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.card-btn:hover {
    background: white;
    color: black;
}

/* Page Load Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}